/* 

  Arcify v0.0.12
  
  author: Anton Kurilov (kurilov.xyz)
  code: github.com/anton0kurilov/arcify

*/

/* round the main content box (tab area */

:root {
	--borderRadius: 20px;
}

#tabbrowser-tabbox {
	clip-path: inset(0% 0% 0% 0% round 10px 10px 10px 10px) !important;
	border-radius: calc(var(--borderRadius) / 2) !important;
	margin: 0 8px 8px 0 !important;
}

@media (max-width: 600px) {
	#tabbrowser-tabbox {
		margin: 0px !important;
	}
}

:root[sizemode='fullscreen'] #tabbrowser-tabbox {
	clip-path: inset(0% 0% 0% 0% round 0px);
	margin: 0 !important;
}

/* remove top border from navigation bar */

#nav-bar {
	border-top: 0 !important;
}

/* add vertical padding to navbar and bookmarks bar */

#nav-bar-customization-target {
	padding: 3px 0 !important;
}

#personal-bookmarks {
	padding: 0 0 3px 0 !important;
}

/* increase padding for individual bookmark items */

.bookmark-item {
	padding: 5px 6.5px !important;
}

/* style the link hover popup (status panel) */

#main-window #statuspanel {
	margin: 8px;
}

#main-window #statuspanel * {
	padding: 5px 10px !important;
	border-radius: 20px !important;
	background-color: rgba(0, 0, 0, 0.5) !important;
	border: 0.5px solid #777 !important;
	color: #fff !important;
	backdrop-filter: blur(30px) !important;
}

/* style the address and search bars */

#urlbar-background,
#searchbar {
	background-color: rgba(79, 79, 79, 0.9) !important;
	backdrop-filter: blur(30px) !important;
	border: 1px solid #555 !important;
	border-radius: var(--borderRadius) !important;
}

.identity-box-button,
#tracking-protection-icon-container,
.urlbar-page-action {
	border-radius: var(--borderRadius) !important;
}

/* style tab group labels */

.tab-group-label {
	width: 100% !important;
	cursor: pointer !important;
	opacity: 0.9 !important;
	outline: 0 !important;
	font-size: 1.1em !important;
	color: #fff !important;
	text-align: left !important;
	background-color: transparent !important;
}

tab-group:hover {
	border-radius: var(--border-radius-medium) !important;
	background-color: var(--tab-hover-background-color);
	margin-inline: var(--tab-inner-inline-margin);
}

.tab-group-label-container {
	padding: 0 4px;
}

.tab-group-label:before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-folder' viewBox='0 0 16 16'%3E%3Cpath d='M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z'/%3E%3C/svg%3E");
	margin: 0 8px 0 0 !important;
	padding-top: 5px !important;
	vertical-align: middle;
}

.tab-background {
	border-radius: var(--border-radius-medium) !important;
}

.tab-background:is([selected], .tab-background[multiselected]) {
	box-shadow: none !important;
}

/* style the fullscreen warning popup */

.pointerlockfswarning {
	border-radius: var(--borderRadius) !important;
	background-color: rgba(0, 0, 0, 0.4) !important;
	backdrop-filter: blur(30px) !important;
	border: 0 !important;
}

#fullscreen-exit-button {
	display: none !important;
}

/* tint private windows with a purple hue */

:root[privatebrowsingmode='temporary'] #navigator-toolbox,
:root[privatebrowsingmode='temporary'] #browser {
	background-color: rgba(184, 0, 245, 0.2) !important;
}
:root[privatebrowsingmode='temporary'] #urlbar-background,
:root[privatebrowsingmode='temporary'] #searchbar {
	background-color: rgba(184, 0, 245, 0.2) !important;
}
